body{
    max-width: 100%;
    background-color: #d6e5f1;
    font-family:Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title{
    background-color: aliceblue ;
    display: flex;
    color: #26332f;
    width: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    border-radius: 0px 0px 5px 5px;
    margin: 20px ;
    box-shadow:0 0 10px #d9e6f0;
}


div.contenthead{
    display: grid;
    margin-left: 20px;
}

img{
    width: 400px;
    height: 250px;
    border-radius: 15px; 
}

.mysore{
    font-size: 200%;
    font-weight: 400;
    font-weight: 200;
    color: #2d9370;
    padding-left: 20px; 
}

.contentbody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.item{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: aliceblue;
    width:420px;
    height:500px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
}

.desc{ 
    font-size: 120%;
}
.desclink{
    display:grid;
    justify-items: end;
}

a{
    text-decoration: none;
}

.item2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
    width:420px;
    height:660px;
    border-radius: 10px;
    padding: 20px;
}

.photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 410px;
    background-color:aliceblue;
    border-radius: 20px;
    box-shadow: 0 0 15px #d9e6f0;
}

.photos:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photoname{
    font-size: 120%;
    padding: 10px;
}

hr{
    background-color: #3bc997;
    width: 400px;
    height: 2px;
    border-radius: 5px;
}


.item3{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
    width:420px;
    height:320px;
    border-radius: 10px;
    padding: 20px;
}
.name{
    width: 400px;
}

.li{
    display: flex;
    font-size: 130%;
    color: #082222;
}

.review{
    display: flex;
    flex-direction: column;
    width: 380px;
    height:max-content;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 15px #d9e6f0;
}

.review:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.revname{
    padding-left: 10px;
    padding-top: 10px;
}

.revcontent{
    padding: 10px;
    font-size: 120%;
}



@media screen and (max-width:800px) {
    .contentbody{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    div.contenthead{
        display: grid;
       justify-items: center;
    }
    
}
