body{
    max-width: 100%;
    background-color: rgb(214, 229, 241);
    font-family:Arial, Helvetica, sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h1{
    background-color: #2d9370;
    display: flex;
    color: aliceblue;
    width: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 20px ;
    box-shadow:0 0 10px #1c7878;
    

}

strong{
    padding-left: 1%;
    color: rgb(52, 52, 154);
    
}

div.contenthead{
    background-color:aliceblue;
    display: grid;
    width: 230px;
    height: 170px;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow:0 0 20px rgb(216, 222, 228);
    margin-left: 20px;
}

div.contenthead:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img{
    width: 230px;
    height: 130px;
    border-radius: 10px; 
}

.mysore{
    font-size: 150%;
    font-weight: 200;
    color: #2d9370;
    padding:5px; 
}

.contentbody{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}

.item{
    display: grid;
    background-color: aliceblue;
    width:220px;
    height: 150px;
    border-radius: 10px;
    justify-items: center;
}

.li{
    font-size: 130%;
    color: #104747;
    padding-top: 10px;
}
