body{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.main{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;
}


.logo{
    color: #1877f2;
    font-size: 400%;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text{
    font-size: 200%;
    color: rgb(43, 43, 43);
    font-weight: 400;
    
}

.login{
    display:grid;
    align-items: center;
    justify-items: center;
    height: 350px;
    width: 350px;
    border-color: #1877f2;
    border-radius: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow:0 0 20px rgb(191, 191, 228);
    padding: 20px;
    
}

.login-btn{
    background-color: #076fd1;
    color: white;
    border-radius: 5px;
    height: 42px;
    width: 286px;
    font-size: 100%;
}
.login-btn:hover{
    background-color:#0366c2 ;
}

.create-btn{
    background-color: #00a400;
    color: white;
    border-radius: 5px;
    height: 42px;
    width: 150px;
    font-size: 80%;
    font-weight: bolder;
}

.create-btn:hover{
    background-color: #039903;
}

input{
    border-color: #ffffff00;
    box-shadow: 0 0 2px #4b4b4b;
    border-radius: 5px;
    border-width: 1px;
    height: 38px;
    width: 280px;
    padding-left: 20px;
}

button{
    border-radius: 5px;
    border-color: rgba(240, 255, 255, 0);
}


::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
}

a{
    text-decoration: none;
    color: white;
}

.frgt{
    color: #1877f2;
    font-size: 100%;
}

.frgt:hover{
    text-decoration:underline;
}

@media only screen and (max-width: 800px){
    .main{
        flex-direction: column;
    }
}
